header {
  margin: 25px;
}
header h1, header h2 {
  text-align: center;
}
header h1 {
  font-size: 5rem;
}
header h2 {
  font-size: 1.75rem;
}

nav {
  float: left;
  width: 300px;
  padding-top: 50px;
}
nav p {
  margin: 0;
}
nav ul {
  list-style-type: none;
  padding-left: 1rem;
}
nav p > a {
  font-size: 1.1rem;
}
nav li > a {
  font-size: 0.9rem;
}

main {
  margin-left: 325px;
  margin-right: 100px;
}
main h1, main h2 {
  margin-left: 25px;
}
main .footnotes {
  font-size: 0.8rem;
}
main .footnotes hr {
  margin-right: 225px;
}

footer {
  margin: 10px 325px;
  text-align: center;
  font-size: 0.75rem;
}