header {
  margin: 25px;
}

header h1 {
  text-align: center;
  
  font-size: 5rem;
}

header h2 {
  text-align: center;
  
  font-size: 1.75rem;
}

nav {
  float: left;
  width: 300px;
  
  padding-top: 50px;
}

nav p {
  margin: 0;
}

nav ul {
  list-style-type: none;
  
  padding-left: 1rem;
}

nav p > a {
  font-size: 1.1rem;
}

nav li > a {
  font-size: .9rem;
}

main {
  margin-left: 325px;
  margin-right: 100px;
}

main h1 {
  margin-left: 15px;
}

main h2 {
  margin-left: 25px;
}
