@import "uswds-slim";

/* Color variables */

$navBackground: $color-gray-cool-5;

$subheadText: $color-gray-60;

$tocSectionHighlight: $color-blue-warm-20v;
$tocGroupHighlight: $color-blue-warm-10v;
$tocHighlightText: $color-blue-warm-80v;

$linkText: $color-indigo-cool-60v;
$linkTextHover: $color-indigo-cool-70v;

$codeText: $color-magenta-50v;

$footnoteRefHover: $color-gray-70;

$headerFooterBackground: $color-blue-10;

/* General styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
}

a {
  color: $linkText;
  text-decoration: none;
  &:hover {
    color: $linkTextHover;
    text-decoration: underline;
  }
}

code {
  color: $codeText;
}

/* Page layout */

body {
  display: grid;
  grid-template:
    "title title"   auto
    "toc text"      auto
    "footer footer" auto / 1fr 3fr;
}

header {
  grid-area: title;
  padding: 2em 2em 1.5em 2em;
  background: $headerFooterBackground;

  img {
    height: 5rem;
    float: left;
    margin-right: 1.5em;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
    color: $subheadText;
  }

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

nav {
  grid-area: toc;
  padding: 0 .5em 0 .5em;
  
  background-color: $navBackground;

  > #nav-scroll-container {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  h1 {
    position: sticky;
    top: 0;
    padding: .5em 0 .5em .25em;
    margin: 0;

    background-color: $navBackground;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  > #nav-scroll-container > section > ul > li {
    margin-bottom: .7em;
  }

  ul {
    list-style: none;
    padding-left: 0;

    p {
      margin: 0;
      font-weight: 400;
    }
    
    li.currentGroup {
      background-color: $tocGroupHighlight;
      color: $tocHighlightText;
      border-radius: .25rem;
    }

    ul li {
      font-size: 0.8em;
    }
  }

  li > p {
    padding: .1rem .25rem .1rem .33rem;
  }

  li > ul > li {
    padding: .1rem .25rem .1rem .66rem;
  }

  li > p, li > ul > li {
    &.currentSection {
      background-color: $tocSectionHighlight;
      color: $tocHighlightText;
      border-radius: .25rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

main {
  grid-area: text;
  max-width: 48em;
  padding: 1.5em 2em 0 1.5em;

  h1 {
    font-size: 2rem;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  a.footnote-ref,
  .footnotes .footnote-backref {
    padding: 3px;

    &:hover {
      background: rgba($footnoteRefHover, 0.3);
      border-radius: .25rem;
      text-decoration: none;
    }
  }

  .footnotes {
    .footnote-backref {
      margin-left: .5ch;
      padding-right: 4px;
    }

    p {
      margin: 0;
    }

    ul li {
      list-style: disclosure-closed;
    }
  }
}

footer {
  grid-area: footer;
  padding: 2em;

  background-color: $headerFooterBackground;
  font-size: 0.8rem;

  p {
    margin: 0;
  }
}
