@import "uswds-slim";

/* General styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
}

a {
  color: $color-indigo-cool-60v;
  text-decoration: none;
  &:hover {
    color: $color-indigo-cool-70v;
    text-decoration: underline;
  }
}

code {
  color: $color-magenta-50v;
}

/* Page layout */
body {
  display: grid;
  grid-template:
    "title title"   auto
    "toc text"      auto
    "footer footer" auto / 1fr 3fr;
  gap: 1.5em;
}

header {
  grid-area: title;
  padding: 2em 2em 0 2em;

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
    color: $color-gray-50;
  }

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

nav {
  grid-area: toc;
  padding: 0 0 0 1.75em;
  
  background-color: $color-gray-cool-2;

  > #nav-scroll-container {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  h1 {
    position: sticky;
    top: 0;
    padding: .5em 0 .5em .25em;
    margin: 0;

    background-color: $color-gray-cool-2;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  > #nav-scroll-container > section > ul > li {
    margin-bottom: .7em;
  }

  ul {
    list-style: none;
    padding-left: 0;
    padding-right: 5px;

    p {
      margin: 0;
      font-weight: 400;
    }

    li.currentGroup {
      background-color: $color-blue-warm-5v;
      color: $color-blue-warm-80v;
      border-radius: .25rem;
    }

    ul li {
      font-size: 0.8em;
    }
  }

  li > p, li > ul > li {
    padding: .1rem .25rem;

    &.currentSection {
      background-color: $color-blue-warm-10v;
      color: $color-blue-warm-80v;
      border-radius: .25rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

main {
  grid-area: text;
  max-width: 48em;
  padding: 0 2em 0 0;

  h1 {
    font-size: 2rem;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  a.footnote-ref,
  .footnotes .footnote-backref {
    padding: 3px;

    &:hover {
      background: rgba($color-gray-70, 0.3);
      border-radius: .25rem;
      text-decoration: none;
    }
  }

  .footnotes {
    .footnote-backref {
      margin-left: .5ch;
      padding-right: 4px;
    }

    p {
      margin: 0;
    }

    ul li {
      list-style: disclosure-closed;
    }
  }
}

footer {
  grid-area: footer;
  padding: 2em;

  background-color: $color-blue-10;
  font-size: 0.8rem;

  p {
    margin: 0;
  }
}
