@import "uswds-colors/colors";

header {
  grid-area: title;
  padding: 2em 2em 0 2em;

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
    color: $color-gray-50;
  }
}

footer {
  grid-area: footer;
  padding: 2em;

  background-color: $color-blue-10;
  font-size: 0.8rem;

  p {
    margin: 0;
  }
}
