header {
  margin: 25px;
  
  h1,h2 {
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
}

$nav-width: 300px;
$main-inset-left: $nav-width + 25px;
$main-inset-right: 100px;

nav {
  float: left;
  width: $nav-width;
  
  padding-top: 50px;
  
  p {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    
    padding-left: 1rem;
  }
  
  p > a {
    font-size: 1.1rem;
  }
  
  li > a {
    font-size: .9rem;
  }
}

main {
  margin-left: $main-inset-left;
  margin-right: 100px;
  
  h1,h2 {
    margin-left: 25px;
  }
  
  .footnotes {
    font-size: .8rem;
    
    hr {
      margin-right: $main-inset-left - $main-inset-right;
    }
  }
}

footer {
  margin: 10px $main-inset-left;
  
  text-align: center;
  font-size: .75rem;
}
