<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <link rel="stylesheet" href="./css/checklist.css" />
  </head>
  <body>
    {{> header }}
    <main>{{{ body }}}</main>
    {{> footer }}
  </body>
</html>
